
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');




body{
    background-color: rgb(196, 41, 253);
    font-family: 'Fjalla One', sans-serif;
    color: blanchedalmond;
    
}
img{
    width: 500px;
}
h1{
    color: rgb(219, 252, 7);
    background-color: rgb(72, 182, 255);
    margin-left: ;
    margin-right: 25px; 
    text-align: center;
}
p.hi{
    text-align: center;
    color: rgb(245, 233, 8);
}
.hello{
    color: chartreuse;
}
.ed{
    color: cadetblue;
    background-color: chartreuse;
    padding-left: 25px;
}
ul{
    background-color: ;
}